PORT=20000
NODE_ENV=development

POSTGRES_USER=admin
POSTGRES_PASSWORD=password123
POSTGRES_DB=mydatabase
DATABASE_URL=postgresql://admin:password123@localhost:5435/mydatabase

JWT_SECRET=change_me
JWT_EXPIRES_IN=1h

REDIS_URL=redis://localhost:6381
